/**
 * login, sign_up
 **/
.flex {
  display: flex;
}

.vertical {
  margin: auto 0;
}

.sign_up_btn {
  display: inline-block;
  width: 160px;
  height: 40px;
  margin-left: 48px;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 16px;
  background-color: rgb(27, 184, 171);
}

.sign_up_btn:hover {
  cursor: pointer;
  opacity: 80%;
}

input.form {
  margin: 10px 20px 20px 0px;
  display: block;
  width: 300px;
  height: 36px;
  font-size: 16px;
}

input.form:first-child {
  margin-top: 20px;
}

.login_btn {
  width: 168px;
  height: 46px;
  margin: 0;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 16px;
  background-color: rgb(14, 153, 218);
}

.login_btn:hover {
  cursor: pointer;
  opacity: 80%;
}

/**
 * main
 **/

form {
  display: inline;
}

.new_register_btn {
  width: 72px;
  height: 32px;
  display: inline-block;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: rgb(14, 153, 218);
}

.logout_btn {
  width: 88px;
  height: 32px;
  display: inline-block;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: grey;
}
/* セル幅を自動調整 */
table,
th,
td {
  width: auto !important;
  border: solid 1px rgb(102, 101, 101) !important;
  padding: 10px 30px;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: rgb(243, 241, 241);
}

td {
  border: solid 1px rgb(243, 241, 241);
}

.delete_btn {
  width: 54px;
  height: 32px;
  display: inline-block;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: rgb(199, 4, 4);
}

/**
 * 本登録 register
 **/
.number_form {
  width: 200px;
  height: 30px;
}

.register_btn {
  width: 120px;
  height: 48px;
  margin-top: 20px;
  display: block;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  background-color: blue;
}

.register_btn:hover {
  cursor: pointer;
  opacity: 80%;
}
